html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.parent {
    text-align: center;
}